<!DOCTYPE html>
<html lang="en"  data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="styles.css">

    <title>Kale</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥬</text></svg>" sizes="any" type="image/svg+xml">
    <meta content="Kale" property="og:title" />
    <meta content="Send password-protected messages to anyone, anywhere." property="og:description" />
    <meta content="https://kale.gq/" property="og:url" />
    <meta content="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🥬</text></svg>" property="og:image" />
    <meta content="#43a047" data-react-helmet="true" name="theme-color" />
    <!-- link rel="icon" href="favicon.svg" sizes="any" type="image/svg+xml"-->
</head>
<body>
    <main class="container">
        <article>
            <hgroup>
                <h1>🥬Kale</h1>
                <h5>Send password-protected messages to anyone, anywhere.</h5>
            </hgroup>
            <form id="form" onsubmit="post(); return false">
                <textarea required id="content" name="content" placeholder="Write your message"  rows="3"></textarea>
                <input required type="password" id="password" name="password" placeholder="Set a password" max="128"></label></input>
                <button id="sendButton">Send</button>
            </form>
            <div id="linkarea" class="grid" style="display:none;">
                <input id="link" type="text" placeholder="https://kale.gq/example"></input>
                <p id="copyButton" role="button" onclick="copy()">Copy Link</p>
            </div>
        </article>
    </main>

    <script src="script.js"></script>
</body>
</html>