<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="styles.css">

    <title>Kale</title>
</head>
<body>
    <main class="container">
        <article>
            <h1>🥬Kale</h1>
            <p id="content">Enter password to view message: <span>log in to view message. You really thought you were sneaky trying to use developer tools to view this, eh? Better luck next time.</span></p>

            <div id="passwordarea" class="grid">
                <input required id="password" type="password" placeholder="Password"  max="128"></input>
                <p id="viewButton" role="button" onclick="get()">View</p>
            </div>

            <button id="burnButton" style="display:none;" onclick="del()">Burn</button>

            <p class="footer">
                <small>Made with ❤️ by <a href="https://www.buymeacoffee.com/yusufrahmn">Yusuf Rahman</a></small>
            </p>
        </article>
    </main>

    <script src="script.js"></script>
</body>
</html>