#content > span {
    color: transparent;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (prefers-color-scheme: dark) {
	#content > span {
		color: transparent;
		text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	}
}

html, body, main { height: 100% }

main {
	display: flex;
	justify-content: center;
	align-items: center;
}

article {
	max-width: 600px;
	padding: 32px;
}

.footer {
	text-align: center;
	margin-bottom: 0px;
	opacity: 35%;
}

#content {
	-webkit-transition: color 3s ease-out;
	-moz-transition: color 3s ease-out;
	-o-transition: color 3s ease-out;
	transition: color 3s ease-out;
}

button {
	width: 100%;
	margin-bottom: 8px;
}

#burnButton {
	background-color: #e53935 !important;
	border: none !important;
}
#burnButton:hover { background-color: #d32f2f !important; }
#burnButton:focus { background-color: rgba(229, 57, 53, 0.125) !important; }

.burning {
	color: red;
}

div[data-lastpass-icon-root] {
    display: none;
}