* {
    --primary: #43a047;
    --primary-hover: #388e3c;
    --primary-focus: rgba(67, 160, 71, 0.125);
    --primary-inverse: #FFF;
}
  
article {
    max-width: 600px; 
    margin: auto;
    padding-top: 35px;
    padding-bottom: 35px;
}

#content {
    -webkit-transition: color 3s ease-out;
    -moz-transition: color 3s ease-out;
    -o-transition: color 3s ease-out;
    transition: color 3s ease-out;
}

.burning {
    color: red;
}

#content > span {
    color: transparent;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

#burnButton, .redButton {
    --primary: #e53935 !important;
    --primary-hover: #d32f2f !important;
    --primary-focus: rgba(229, 57, 53, 0.125) !important;
}